
/* ...................... MI CSS .................... */

/* #div3d {
  display: flex;
  width: 100%;
  height: 100%;
} */

body {
  overflow-x: hidden;
  background-color: #2e3f6ea9;
}


/* NAVBAR */

#navBar {
  width: 100vw;
  /* top: 0px !important;
  position: sticky !important; */
  padding: .6%;
  background-color: #050a30;
  z-index: 1;
}

#navDiv {
  margin-left: 2%;
}

#imgLogo {
  border-radius: 1.9em;
}

#navList {
  margin-left: 6%;
}

.aLight {
  color: rgb(252, 242, 228) !important;
  size: 120%;
}

.aLight:hover {
  color: rgb(212, 230, 242) !important;
  text-shadow: rgb(111, 137, 150) 0.3px 0 10px !important;
}

#divCartWidget {
  margin-right: 3.2%;
  display: flex;
}

#h6CartQuant {
  margin-left: 15%;
  color: antiquewhite;
}

/* NAVBAR */



/* ITEM LIST CONTAINER  */

#divItemListContainer {
  margin-top: 170px;
  margin-bottom: 6em;
  /* margin-left: 6%; */
}

.card-size {
  width: 80%;
  height: 460px;
}

.card-size:hover {
  box-shadow: 4px 4px 4px 4px rgba(30, 27, 27, 0.418);
  top: -6px;
}

.img-card {
  height: 80%;
  width: 80%;
  margin-top: 15px;
  padding-bottom: -15px;
  /* z-index: 0; */
}

.img-card:hover {
  background-color: #050a30;
}

.card-text {
  padding-bottom: 3px;
}

.product-description {
  height: 70%;
}

/* ITEM LIST CONTAINER  */



/* LOADER */

.divLoader {
  display: flex;
  margin-top: 10vh;
  margin-left: 50vw;
  margin-right: -50vw;
}

/* LOADER */



/* ITEM DETAIL */

/* .detailsBig {
  display: flex;
} */

.details {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px;
  /* top: 0; */
  margin-top: 15%;
}

.big-img {
  max-width: 500px;
  min-width: 290px;
  overflow: hidden;
  margin: 25px;
}

.big-img img {
  width: 100%;
  height: 100%;
  max-height: 400px;
  display: block;
  object-fit: cover;
}

.box {
  max-width: 500px;
  min-width: 290px;
  margin: 25px;
}

.box .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.box .row h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.box .row span {
  color: red;
}

.box p {
  line-height: 1.5;
  margin: 15px 0;
}

.thumb {
  width: 100%;
  height: 100px;
  display: flex;
  cursor: pointer;
  margin: 10px 0;
}

.thumb img {
  width: 90px;
  height: 100%;
  display: block;
  object-fit: cover;
  border: 1px solid #ddd;
  margin-right: 5px;
  opacity: 0.7;
  border-radius: 5px;
}

.thumb img.active {
  opacity: 1;
  border: 1px solid lightseagreen;
}

.box .cart {
  background-color: #333;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px 25px;
  margin-top: 15px;
}



/* ITEM DETAIL */












/* ITEM COUNT CSS */
/* 
#divItemCount {
  width: 40%;
  background-color: rgba(50, 16, 142, 0.849);
  padding: 2%;
  border-radius: 1em;
  margin-bottom: -25%;
}

.whiteTextItemCount {
  color: whitesmoke;
} */

/* ITEM COUNT CSS */
